.App {
  text-align: center;
}

canvas {
  border: solid 2px black;
}

.colorNav {
  display:flex;
  flex-direction: row;
  justify-content: center;
}

.colorBtn{
  display: flex;
  flex-flow: row center;
  justify-content: space-around;
  border-radius: 100px;
  width:30px;
  height:10px;
  padding:20px;
  border: solid black 1px;
  cursor: crosshair;
}

#white{
  font-weight: bold;
}

#pink{
  background-color:#EE92C2;
}

#red{
  background-color:#FF0000;
  color: white;
}
#orange{
  background-color:#FF6600;
}
#yellow{
  background-color:#FF0;
}
#green{
  background-color:#88FF00;
}
#teal{
  background-color:#28DDCC;
}
#blue{
  background-color:#0000FF;
}
#violet {
  background-color: #aa00FF;
}
#black{
  background-color:#000;
  color:white;
  font-weight:bold;
}
