.App {
  text-align: center;
  background-color:rgba(201, 70, 107, 1);
  background-size: cover;
  width:auto;
  height:100%;
  display: grid;
  grid-template-columns: repeat(1fr, 6);
  grid-template-rows: repeat(50%, 5);
  grid-template-areas:
  "nav nav nav nav nav nav"
  "cnv cnv cnv . . clr clr"
  "cnv cnv cnv . . siz siz"
  "cnn cnv cnv . . sav rst"
  "ftr ftr ftr ftr ftr ftr"
}


/*////NavBar */

.viewNav{
  grid-column: auto;
  display:flex;
  justify-content: space-around;
  padding:10px;
  color: #FFEEEE;
  /* grid-area: nav; */
}

.viewNav > h3{
  font-size:20pt;
}

.viewNav div{
  justify-content: flex-end;
  justify-content: space-around;
  align-items: center;
}

hr{
  width:70rem;
  margin:10px auto;
}

.logo{
  max-width:60rem;
  height:7rem;
}

/*///Canvas Studio */

canvas {
  border: solid 2px #23B5D3;
  /* grid-area: cnv; */
}

.canvasStudio{
  margin:5px
}

.draw_n_Save{

}
/*//Gallery//*/

.gallery{
  display: flex;
  width:5rem;
  height:auto;
  flex-wrap: wrap;
}
.galleryPic{
  max-width: 50%;
  max-height: 50%;
  background-color:white;
}
/*//// The Drawing Tools for the Canvas */
.colorNav {
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  /* grid-area: clr; */
  justify-content: center;
}

.colorBtn{
  display: flex;
  flex-flow: row center;
  justify-content: space-around;
  border-radius: 100px;
  width:10px;
  height:10px;
  padding:20px;
  margin:auto 5px;
  border: solid black 1px;
  cursor: auto;
}

.colorBtn p{
  font-weight: bold;
  margin-top: 5px;
  text-overflow: ellipsis;
  display:none;
}

.colorBtn:hover{
  width:20px;
  padding:30px;
  transition: 0.1s;
}

.colorBtn p:hover{
  display:block;
}

.colorNav #white{
  color:black;
  background-color:white;
}

#pink{
  background-color:#EE92C2;
  color:red;
}

#red{
  background-color:#FF0000;
  color: white;
}
#orange{
  background-color:#FF6600;
}
#yellow{
  color:orange;
  background-color:#FF0;
}
#green{
  color:darkgreen;
  background-color:#88FF00;
}
#teal{
  color:blue;
  background-color:#28DDCC;
}
#blue{
  background-color:#0000FF;
}
#violet {
  background-color: #BB00FF;
  color:#550088
}
#black{
  background-color:#000;
  color:white;

}

.sizeChange{
  flex-flow: row, wrap;
  /* grid-area: siz; */
}

  /*///The Gallery -Public and Private*/

  .gallery{

  }

  /*////Footer */
  footer{
    background-color:#000;
    display: flex;
  }

  footer .socialImg{
    justify-content: flex-end;
    margin:5px;
    max-height: 50px;
    max-width:50px;
  }

  footer > p{
    justify-content: flex-start;
    color:#28DDCC;
  }
